html,body{
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* css variables */

:root{
    /* colors */
    --primary-color:blue;
    --black-color:black;
    --gradient-blue:linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);

    /* font family variables */
    --roboto:"Roboto",cursive;
}