*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  margin:1px;
  padding:1px;
}

img{
  position:relative;
  padding:0.5px;
  width:25%;
  opacity:0.8;
}

img:hover{
  padding:0px;
  margin:0px;
  opacity:1;
}


/* page 1 */

.page1{
  background:url('./img/spcpng.png');
  display:flex;
  flex-wrap:wrap;
}

.page1 .title{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}


.page1 .btn{
  font-size: 50px;
  position:fixed;
  top:70%;
  left:50%;
  transform:translate(-70%,-50%);
}

.page1 .title a{
  text-decoration:none;
  color: antiquewhite;
  font-size: 50px;
}

.page1  .title a:hover{
  color:bisque;
  font-size:55px;
}
/* page 1 ended */

/* page 2 */
.page2{
  display: flex;
  flex-wrap: wrap;

}

.page2 .content{
  position:fixed;
  top: 50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.page2 .content .head{
  font-size: 50px;

}

.page2 .content .about {
  font-size:30px;

}


/* responsive */

@media(max-width:600px) {
  img{
    width:50%;
  }
}