*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  margin:1px;
  padding:1px;
}

img{
  position:relative;
  padding:0.5px;
  width:25%;
}

.page1{
  display:flex;
  flex-wrap:wrap;
}

.title{
  color: antiquewhite;
  font-size: 50px;
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}


@media(max-width:600px) {
  img{
    width:50%;
  }
}