@import url(fonts.css);

/* css variables */
@import url(./partials/variables.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* brand-image spc logo cropped heights png */
.spcpng{
}
/**********
navbar start */

/* brand, spc logo */
.header_area .menu .navbar .navbar-brand{
    padding: 0.2rem 0.5rem;
}

/* navbar */
.header_area .menu .navbar{
    padding : 1rem 5.2rem;
}

.header_area .menu .navbar .nav-item .nav-link{
    font:normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding:2.0rem;
    color: var(--black-color);
}

.header_area .menu .navbar-nav .active{
    background: var(--gradient-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .menu .navbar-nav a:hover{
    background: var(--gradient-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.navbtn:hover{
    background-color: var(--gradient-blue);
}
.x{
    background-color:aqua;
    height:100vh;
}


/* navbar end 
************/

/* home start */

.home-btn-group{

}
.home-btn1{
    margin:2rem;
    
}
.home-btn2{
    margin:2rem;
}

.main_area .home .home-title h3{
    padding-top: 25%;
    font-weight:500;
}

.main_area .home .home-title h3::after{
    content:"";
    height: 2px;
    width:18vw;
    background-color: black;
    display:inline-block;
    margin-left:5%;
    transform: translateY(-10px);
}

.main_area .home .home-title h1{
    font-size: 5rem;
}

.main_area .home .home-title h4{
    font-size: 1.5rem;
}

/* home end */